<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gds.dao.ClubDao">


    <!--查询所有社团列表-->
    <select id="selectAll" resultType="com.gds.entity.Club">
        SELECT * from gds_club
    </select>

    <!--根据ID查询-->
    <select id="selectClubById" resultType="com.gds.entity.Club" parameterType="java.lang.Integer">
        SELECT * from gds_club
        WHERE club_id = #{club_id}
    </select>

    <!--按条件查询社团总数-->
    <select id="selectClubCount" resultType="java.lang.Integer" parameterType="Map">
        select count(1) from gds_club
        <where>
            <if test="club_name != null and club_name != ''">
                club_name like "%"#{club_name}"%"
            </if>
            <if test="club_faculty != null and club_faculty != ''">
                and club_faculty like "%"#{club_faculty}"%"
            </if>
        </where>
    </select>

    <!--分页查询  -->
      <select id="selectClubList"  resultType="com.gds.entity.Club" parameterType="Map">
          select * from gds_club
          <where>
              <if test="club_name != null and club_name != ''">
                  club_name like "%"#{club_name}"%"
              </if>
              <if test="club_faculty != null and club_faculty != ''">
                  and club_faculty like "%"#{club_faculty}"%"
              </if>
          </where>
          LIMIT #{startRow},#{size}
      </select>

    <!--  新增-->
    <insert id="insertClub" parameterType="com.gds.entity.Club">
        insert into gds_club
        (
          club_id,club_status,club_name,
          club_type,club_faculty,club_createtime,
          club_introduce,club_standby001,club_standby002,club_loginName,club_loginPassword
        )
        values
        (
          #{club_id}, #{club_status}, #{club_name},#{club_type}, #{club_faculty},
          #{club_createtime}, #{club_introduce}, #{club_standby001},#{club_standby002},
          #{club_loginName},#{club_loginPassword}
        )

    </insert>

    <delete id="deleteByClubId" parameterType="java.lang.Integer">
      DELETE from gds_club
      where club_id = #{club_id}
    </delete>

    <select id="selectClubByType"  resultType="com.gds.entity.Club" parameterType="Map">
        select * from gds_club
        <where>
            <if test="club_type != null and club_type != ''">
                club_type like "%"#{club_type}"%"
            </if>
        </where>
    </select>

    <select id="selectClubByPassword" resultType="com.gds.entity.Club" parameterType="Map">
        select * from gds_club
        <where>
            <if test="club_loginName != null and club_loginName != ''">
                club_loginName = #{club_loginName}
            </if>
            <if test="club_loginPassword != null and club_loginPassword != ''">
                and club_loginPassword = #{club_loginPassword}
            </if>
        </where>
    </select>

</mapper>