<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gds.dao.StudentDao">


    <!--查询所有社员列表-->
    <select id="findAllStudent" resultType="com.gds.entity.Student">
        SELECT * from gds_student
    </select>

    <!--查询社员总数-->
    <select id="selectTotalCount" resultType="java.lang.Integer" parameterType="Map">
        select count(1) from gds_student
        <where>
            <if test="stu_name != null and stu_name != ''">
                stu_name like "%"#{stu_name}"%"
            </if>
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="standby001 != null and standby001 != ''">
                and standby001 like "%"#{standby001}"%"
            </if>
        </where>
    </select>

    <!--分页查询-->
    <select id="selectPageList"  resultType="com.gds.entity.Student" parameterType="Map">
        select * from gds_student
        <!-- 加入查询条件  -->
        <where>
            <if test="stu_name != null and stu_name != ''">
                stu_name like "%"#{stu_name}"%"
            </if>
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="standby001 != null and standby001 != ''">
                and standby001 like "%"#{standby001}"%"
            </if>
        </where>
        LIMIT #{startRow},#{size}
    </select>

    <insert id="insertStudent" parameterType="com.gds.entity.Student">
        insert into gds_student
        (
            user_id, stu_num, stu_name,
            password, username, email,
            register_time, register_ip, last_login_time,
            last_login_ip, wx_number, mobile,
            standby001, standby002, login_count,
            rank, is_admin, is_disabled
        )
        values
        (
            #{user_id}, #{stu_num}, #{stu_name},
            #{password}, #{username}, #{email},
            #{register_time}, #{register_ip}, #{last_login_time},
            #{last_login_ip}, #{wx_number}, #{mobile},
            #{standby001}, #{standby002}, #{login_count},
            #{rank}, #{is_admin}, #{is_disabled}
        )
    </insert>

    <delete id="deleteStuByUserId" parameterType="java.lang.Integer">
        delete from gds_student
        where user_id = #{user_id,jdbcType=INTEGER}
    </delete>
</mapper>