<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gds.dao.StudentDao">

    <resultMap id="BaseResultMap" type="com.gds.entity.Student">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="stu_num" jdbcType="VARCHAR" property="stuNum" />
        <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="register_time" jdbcType="VARCHAR" property="registerTime" />
        <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
        <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime" />
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="standby001" jdbcType="VARCHAR" property="standby001" />
        <result column="standby002" jdbcType="VARCHAR" property="standby002" />
        <result column="login_count" jdbcType="INTEGER" property="loginCount" />
        <result column="rank" jdbcType="INTEGER" property="rank" />
        <result column="is_admin" jdbcType="INTEGER" property="isAdmin" />
        <result column="is_disabled" jdbcType="INTEGER" property="isDisabled" />
    </resultMap>
    <sql id="Base_Column_List">
        user_id, stu_num, stu_name, password, username, email, register_time, register_ip,
        last_login_time, last_login_ip, wx_number, mobile, standby001, standby002, login_count,
        rank, is_admin, is_disabled
    </sql>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gds_student
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteStuByUserId" parameterType="java.lang.Integer">
        delete from gds_student
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insertStudent" parameterType="com.gds.entity.Student">
        insert into gds_student (user_id, stu_num, stu_name,
        password, username, email,
        register_time, register_ip, last_login_time,
        last_login_ip, wx_number, mobile,
        standby001, standby002, login_count,
        rank, is_admin, is_disabled
        )
        values (#{userId,jdbcType=INTEGER}, #{stuNum,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{registerTime,jdbcType=VARCHAR}, #{registerIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=VARCHAR},
        #{lastLoginIp,jdbcType=VARCHAR}, #{wxNumber,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
        #{standby001,jdbcType=VARCHAR}, #{standby002,jdbcType=VARCHAR}, #{loginCount,jdbcType=INTEGER},
        #{rank,jdbcType=INTEGER}, #{isAdmin,jdbcType=INTEGER}, #{isDisabled,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.gds.entity.Student">
        insert into gds_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="stuNum != null">
                stu_num,
            </if>
            <if test="stuName != null">
                stu_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="registerIp != null">
                register_ip,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="wxNumber != null">
                wx_number,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="standby001 != null">
                standby001,
            </if>
            <if test="standby002 != null">
                standby002,
            </if>
            <if test="loginCount != null">
                login_count,
            </if>
            <if test="rank != null">
                rank,
            </if>
            <if test="isAdmin != null">
                is_admin,
            </if>
            <if test="isDisabled != null">
                is_disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="stuNum != null">
                #{stuNum,jdbcType=VARCHAR},
            </if>
            <if test="stuName != null">
                #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=VARCHAR},
            </if>
            <if test="registerIp != null">
                #{registerIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="wxNumber != null">
                #{wxNumber,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="standby001 != null">
                #{standby001,jdbcType=VARCHAR},
            </if>
            <if test="standby002 != null">
                #{standby002,jdbcType=VARCHAR},
            </if>
            <if test="loginCount != null">
                #{loginCount,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=INTEGER},
            </if>
            <if test="isAdmin != null">
                #{isAdmin,jdbcType=INTEGER},
            </if>
            <if test="isDisabled != null">
                #{isDisabled,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gds.entity.Student">
        update gds_student
        <set>
            <if test="stuNum != null">
                stu_num = #{stuNum,jdbcType=VARCHAR},
            </if>
            <if test="stuName != null">
                stu_name = #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=VARCHAR},
            </if>
            <if test="registerIp != null">
                register_ip = #{registerIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="wxNumber != null">
                wx_number = #{wxNumber,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="standby001 != null">
                standby001 = #{standby001,jdbcType=VARCHAR},
            </if>
            <if test="standby002 != null">
                standby002 = #{standby002,jdbcType=VARCHAR},
            </if>
            <if test="loginCount != null">
                login_count = #{loginCount,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=INTEGER},
            </if>
            <if test="isAdmin != null">
                is_admin = #{isAdmin,jdbcType=INTEGER},
            </if>
            <if test="isDisabled != null">
                is_disabled = #{isDisabled,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gds.entity.Student">

        update gds_student
        set stu_num = #{stuNum,jdbcType=VARCHAR},
        stu_name = #{stuName,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        register_time = #{registerTime,jdbcType=VARCHAR},
        register_ip = #{registerIp,jdbcType=VARCHAR},
        last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
        wx_number = #{wxNumber,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        standby001 = #{standby001,jdbcType=VARCHAR},
        standby002 = #{standby002,jdbcType=VARCHAR},
        login_count = #{loginCount,jdbcType=INTEGER},
        rank = #{rank,jdbcType=INTEGER},
        is_admin = #{isAdmin,jdbcType=INTEGER},
        is_disabled = #{isDisabled,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>


    <!--根据条件查询社员总数-->
    <select id="selectTotalCount" resultType="java.lang.Integer" parameterType="Map">
        select count(1) from gds_student
        <where>
            <if test="stu_name != null and stu_name != ''">
                stu_name like "%"#{stu_name}"%"
            </if>
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="standby001 != null and standby001 != ''">
                and standby001 like "%"#{standby001}"%"
            </if>
        </where>
    </select>

    <!--根据条件进行分页查询-->
    <select id="selectPageList"  resultMap="BaseResultMap" parameterType="Map">
        select * from gds_student
        <!-- 加入查询条件  -->
        <where>
            <if test="stu_name != null and stu_name != ''">
                stu_name like "%"#{stu_name}"%"
            </if>
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="standby001 != null and standby001 != ''">
                and standby001 like "%"#{standby001}"%"
            </if>
        </where>
        LIMIT #{startRow},#{size}
    </select>

    <select id="selectByUsernameAndPassword" resultMap="BaseResultMap" parameterType="Map">
        select * from gds_student
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>

    <select id="selectByStuNum" resultMap="BaseResultMap"  parameterType="Map">
        select * from gds_student
        <where>
            <if test="stuNum != null and stuNum != ''">
                stu_num = #{stuNum}
            </if>
        </where>
    </select>

</mapper>